<div class="list-container" appVirtualScroll>
	<div class="top-breadcrumb">
		<h1 class="template-title">{{title}}</h1>
		<div class="fc-row">
			<div class="fc-col-md-8">
				<ul class="breadcrumb">
					<li><a [routerLink]="['/dashboard']"><i class="material-icons">
								home
							</i> &nbsp;Dashboard</a></li>
					<li><a>{{title}}</a></li>
				</ul>
			</div>
			<div class="fc-col-md-4 fc-text-right">
      </div>

		</div>
	</div>
	<mat-card>
    <div>
      <div fxFlex class="customerInfo">
        <div fxFlex=37>
        </div>
        <div fxFlex=38>
        </div>
        <div fxFlex=25 class="datepaginator" id="paginator">

          <div >
            <button mat-raised-button color="primary" (click)="timesheet('back')"><mat-icon>keyboard_arrow_left</mat-icon></button>

            <span class="datepickerdiv"><span>Choose Date</span>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </span>

            <button mat-raised-button color="primary" (click)="timesheet('next')"><mat-icon>keyboard_arrow_right</mat-icon></button>
          </div>
          <div class="selectedDate">
            <b>{{timesheetDate | date: "longDate"}}-{{timesheettilldate | date:"longDate"}}</b>
          </div>
          <div class="invisible">
            <mat-form-field >
              <input matInput name="DaytimeSheet" (dateInput)="dateChanged($event)" [(ngModel)]="timesheetDate" [matDatepicker]="picker"/>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>

    <div class="timesheetdetails">
      <table>
        <thead>
            <th>
              <mat-checkbox color="primary" (change)="selectall()" [value]="selectAll" [(ngModel)]="selectAll" name="slectAll">
              </mat-checkbox>
            </th>
            <th>Employees</th>
            <th>Total Hours</th>
            <th>Actions</th>

        </thead>

        <tbody>
          <tr *ngFor="let emp of employees">
            <td>
              <mat-checkbox value="emp.selected" color="primary" [(ngModel)]="emp.selected">
              </mat-checkbox>
            </td>
            <td><a href="/timesheet-details?employeeId={{emp.employeeId}}&timesheetDate={{emp.timesheetDate}}">{{emp.employee}}</a></td>
            <td>{{emp.totalhours}}</td>
            <td>
              <mat-icon class="actionbtn cursor" color="primary" (click)="accept()"
              matTooltip="Accept" matTooltipPosition="right" matTooltipClass="orphen-tooltip" >
              check_circle</mat-icon>
              <mat-icon class="actionbtn cursor" color="accent" (click)="reject()"
              matTooltip="Reject" matTooltipPosition="right" matTooltipClass="orphen-tooltip" >cancel</mat-icon>
              <!-- <button mat-raised-button color="primary" >Approve</button>
              <button class="timesheetbutton" mat-raised-button color="accent" >Reject</button> -->
            </td>
          </tr>

        </tbody>
      </table>
    </div>

		<section class="small-spinner-container" *ngIf="isLoadingResults">
			<mat-spinner></mat-spinner>
		</section>
	</mat-card>
</div>

